@import "./base/variables.scss";

.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  align-self: stretch;
  position: relative;
}

.iconContainer {
  background-color: rgba($color: $brand-dark, $alpha: 0.5);
  border-radius: 50%;
  color: $white;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: map-get($spacing, "1");
}

.slideContainer {
  overflow: hidden;
  flex: 1;
  height: 100%;
}

.slideWrapper {
  white-space: nowrap;
  transition: transform 0.3s;
  width: 100%;
  height: 100%;
  transform: var(--transform);
}

.slide {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: #fff;
  width: 100%;
}

.heading {
  padding-bottom: map-get($spacing, "5");
}

.dots {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  column-gap: 5px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  & > span {
    display: block;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
  }
}
