$brand-dark: #272932;
$brand-red: #f25f5c;
$brand-yellow: #ffca3a;
$brand-green: #8ac926;
$brand-blue: #1982c4;

$white: #fff;

$spacing: (
  "1": 4px,
  "2": 8px,
  "3": 12px,
  "4": 16px,
  "5": 20px,
  "10": 40px,
  "15": 60px,
);

$border-radius: (
  "1": 10px,
);
